<p id="notice"><%= notice %></p>

<p>
  <b>Cupom:</b>
  <%= @potze.cupom %>
  <b>Total Potz acumulado:</b>
  <%= @totalAcumulado %>
</p>

<p>
  <b>User:</b>
  <%= @potze.user.email %>
</p>


<%= link_to 'Edit', edit_potze_path(@potze) %> |
<%= link_to 'Back', potzes_path %>
